// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our gradients
$flame: #D15925ff;
$burnt-sienna: #DB815Aff;
$buff: #E6AA90ff;
$pale-dogwood: #F0D2C5ff;
$seasalt: #FAFAFAff;
$cooki-orange: #DF5F40;
