.title-dashboard {
  color: $cooki-orange;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.cards-orders{
  display: flex;
  justify-content: space-evenly;
}

.card-orders {
  width: 600px;
  height: 100%;
  border-radius: 24px;
  background-color: $buff;
  color: black;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  .card-status {
    text-align: center;
    font-family: 'Tilt Warp';
    font-size: 18px;
    color: $seasalt;
  }

}

.card-booked-orders{
  width: 550px;
  padding: 20px;
  margin: 20px;
  border-radius: 24px;
  background-color: $white;
  color: black;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
