// Specific CSS for your home-page
body {
  background-color: $pale-dogwood;
  margin: 0;
  padding: 0;

  .heading-home {
    color: $cooki-orange;
    padding-top: 100px;
  }

  h2 {
    color: $cooki-orange;
    padding-top: 5px;
  }

  .btn-cta {
    background-color: $cooki-orange;
    border-radius: 5px;
    padding: 12px;
    text-decoration: none;
    font-family: $headers-font;
    font-size: 24px;
    color: white;
  }
}
