.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 40px;
}

// class pour All meal et avoir le bouton create à coté
.all-meals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.index-title {
  padding: 0px;
  margin: 0px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card-product {
    height: 740px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-product {
    height: 740px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-product {
    height: 665px;
  }
}

#map-button {
  width: 157px;
  padding: 10px;
  justify-content: space-around;
  border-radius: 25px;
  position: fixed;
  top: 91%;
  left: 44.3vw;
}
