.heading-new {
  color: $cooki-orange;
}

.btn-submit {
  margin-top: 10px;
  background-color: $cooki-orange;
  border-radius: 5px;
  padding: 12px;
  font-family: $headers-font;
  color: white;
  border: none;
}

.vegeterian {
  margin-bottom: 20px;
}
