<div class="container p-3">
  <h1>My Orders</h1>
    <div class="container mt-3">
      <div class="row">
        <% @bookings.each do |booking| %>
          <% if booking.user == current_user %>
            <%= render "card", booking: booking %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
