<!-- footer -->
<div class="footer">

  <div class ="footer-item">
    <ul class="list-inline">
      <li>
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class ="footer-item">
    <a href="#">
      Contact us
    </a>
    <span>·</span>
    <a href="#">
      © 2023 BestTeamEver, Inc
    </a>
    <span>·</span>
    <a href="#">
      General terms and conditions
    </a>
    <span>·</span>
    <a href="#">
      Privacy
    </a>
  </div>
</div>
