<!-- footer -->
<div class="footer">

  <ul class="list-inline">
    <li>
      <a href="#">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </li>
  </ul>

  <a href="#">
    Contact us
  </a>
  <span>·</span>
  <a href="#">
    © 2023 BestTeamEver, Inc
  </a>
  <span>·</span>
  <a href="#">
    General terms and conditions
  </a>
  <span>·</span>
  <a href="#">
    General terms and conditions
  </a>
</div>
