<div class="container">
<h1>My Kitchen</h1>
  <div class="container mt-3">
    <div class="stats card rounded p-2">
      <p>Pending Orders :</p>
      <p>Confirmed Orders :</p>
      <p>Past Orders : </p>
    </div>
    <h2>My Meals</h2>
    <div class="row">
      <% @meals.each do |meal| %>
        <% if meal.user == current_user %>
          <%= render "meals/card", meal: meal %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
