<div class="banner" style="background-image: url(<%= image_path ('cook.jpeg') %>)">
</div>

<div class="container text-center">
  <h1 class="pb-5">Satisfying your cookii cravings</h1>
  <%= link_to "FIND A MEAL", "#" %>
</div>
