<div class="banner">
</div>

<div class="container text-center">
  <h1 class="heading-home pb-4">Satisfying your cookii cravings</h1>
  <%= link_to "FIND A MEAL", meals_path, class:"btn-cta" %>
  <section class="home-testimonial">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center testimonial-pos">
            <div class="col-md-12 pt-4 d-flex justify-content-center mb-3">
                <h3></h3>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <h2>Our customers love Cookii ❤️ </h2>
            </div>
        </div>
        <section class="home-testimonial-bottom m-8">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">My love language is food, prepping a meal and sharing it. Cookii connects me with wonderful people in my city and allows me to share my love of food with them.</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/6625914/pexels-photo-6625914.jpeg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Brigitte Macron</div>
                                <div class="link-position d-flex justify-content-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">I’m not a great cook, and I’m often lazy… But I love homemade meals! With Cookii, I dont’ have to feel guilty about eating bad takeaway. And I get to meet talented cooks in my hometown 😊 </div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Anne-claire Coudray</div>
                                <div class="link-position d-flex justify-content-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">There's nothing quite like the joy of discovering new flavors and ingredients in the kitchen. Cooking allows me to experiment with different tastes and textures, and to express my creativity through food.</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Marion Cotillard</div>
                                <div class="link-position d-flex justify-content-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
</section>
</div>
