<div class="banner">
</div>

<div class="container text-center">
  <h1 class="heading-home pb-4">Satisfying your cookii cravings</h1>
  <%= link_to "FIND A MEAL", meals_path, class:"btn-cta" %>
</div>
