<div class="container p-3">

  <%# Search bar Partial %>
  <%= render "search_bar", meal: @meal %>
  <%# **** %>
  
  <div class="all-meals" >
    <h2 class="index-title">All Meals</h2>
    <%= link_to "+ Create a new Meal", new_meal_path, class:"btn-create-meal" %>
  </div>
  <a id="map-button" href="<%=map_path%>" class="btn-sign-up d-flex align-items-center">
    <p class="m-0">Show map</p>
    <i class="fa-sharp fa-solid fa-map-location-dot m-1"></i>
  </a>
  <div class="cards">
    <% @meals.each do |meal| %>
    <% if meal.user != current_user %>
      <%= render "card", meal: meal %>
      <% end %>
    <% end %>
  </div>
 </div>
