.navbar-lewagon {
  justify-content: space-between;
  background: $seasalt
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand h2 {
  margin-right: 12px;
  padding-top: 16px;
  font-size: 32px;
  color: $cooki-orange;
}
